body{
     background-color:#E8F6EF;
  }
  hr
  {
    border-style: dotted none none;
    border-color: grey;
    border-width: 12px;
    width: 7%;
  }
  h1{
      color: #558776;
  }
  h2{
      color: #F3C583;
  }
  h3{
      color: #AC66CC;
  }
  h4{
      color: #91C788;
  }
